
pypdf
pandas
matplotlib
tiktoken
textract
PyPDF2
python-dotenv
huggingface-hub
transformers
faiss-cpu
pylint
black
ipykernel
ipywidgets
streamlit
requests
altair
pydantic
streamlit-mic-recorder
underthesea
ai71