ai71
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
argcomplete
asteroid-filterbanks
astroid
asttokens
async-timeout
attrs
audioread
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
ci-sdr
click
colorama
comm
compressed-rtf
comtypes
ConfigArgParse
contourpy
ctc_segmentation
cycler
Cython
dataclasses-json
debugpy
decorator
dill
Distance
docx2txt
ebcdic
editdistance
einops
entrypoints
espnet
espnet-model-zoo
espnet-tts-frontend
exceptiongroup
executing
extract-msg
fast-bss-eval
filelock
fonttools
frozenlist
fsspec
g2p-en
gitdb
GitPython
google-api-core
google-auth
google-cloud-texttospeech
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
h11
h5py
httpcore
httpx
httpx-sse
humanfriendly
hydra-core
idna
IMAPClient
importlib-metadata
inflect
ipython
isort
jaconv
jamo
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kaldiio
kiwisolver
lazy-object-proxy
librosa
llvmlite
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mccabe
mdurl
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numba
numexpr
numpy
olefile
omegaconf
openapi-schema-pydantic
opt-einsum
packaging
parso
pathspec
pdfminer.six
pillow
pip
platformdirs
plotly
pooch
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
PyAudio
pycparser
pycryptodome
pydeck
Pygments
Pympler
pyparsing
pypinyin
pypiwin32
pyreadline3
python-crfsuite
python-dateutil
python-pptx
pyttsx3
pytz
pywin32
pyworld
PyYAML
pyzmq
referencing
regex
resampy
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
semver
sentencepiece
setuptools
six
smmap
sniffio
sortedcontainers
soundfile
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
sympy
tenacity
threadpoolctl
tokenizers
toml
tomli
tomlkit
toolz
torch
torch-complex
torchaudio
tornado
tqdm
traitlets
typeguard
typing_extensions
typing-inspect
tzdata
tzlocal
Unidecode
urllib3
validators
watchdog
wcwidth
widgetsnbextension
wrapt
xlrd
XlsxWriter
yarl
zipp

langchain==0.0.150
pypdf==3.12.1
pandas==2.0.3
matplotlib==3.7.2
tiktoken==0.4.0
textract==1.6.5
PyPDF2==3.0.1
python-dotenv==1.0.0
huggingface-hub==0.14.1
transformers==4.30.2
openai==0.27.8
faiss-cpu==1.7.4
pylint==2.17.4
black==23.3.0
ipykernel==6.24.0
ipywidgets==8.0.7
streamlit==1.18.1
requests==2.27.1
altair==4.0
pydantic==1.10.9
streamlit-mic-recorder
underthesea
